.heroWrapper {
  background-color: #0c0d0f;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  max-width: 1400px;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.title h1 {
  color: rgb(255, 255, 255);
  font-size: 60.8px;
  font-weight: 600;
  line-height: 1.1;
  z-index: 1;
}
.blur {
  position: absolute;
  width: 20rem;
  height: 18rem;
  background: rgba(255, 255, 255, 0.508);
  filter: blur(100px);
  border-radius: 100px;
  top: 100px;
  left: -100px;
}

.hero button {
  background-color: #ffb978;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  width: 300px;
}
.hero button:hover {
  color: white;
  background-color: #ff8616;
}

.title::before {
  content: "";
  width: 64px;
  height: 64px;
  margin-left: -100;
  background: linear-gradient(270deg, #ffcd9e 0%, #ff8616 100%);
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: 240px;
  left: 325px;
}

.title h4 {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.11;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #8c8b8b;
}

.hero img {
  width: 400px;
  max-height: 500px;

  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.span {
  display: flex;
  flex-wrap: wrap;
}

.span .spanTitle {
  justify-content: center;
  color: #fff;
  font-size: 30px;
  margin-right: 30px;
}

.span .signal {
  color: #ffa500;
  font-size: 32px;
}

.span .desc {
  color: #8c8b8b;
  font-size: 0.9rem;
}
