.wrapperNavbar {
  background-color: #0c0d0f;
}

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  max-width: 1400px;
  padding: 20px;
}

.navbar img {
  height: 100px;
}

.link {
  background-color: #0c0d0f;
}

.link a:hover {
  border-bottom: 3px solid #ffcd9e;
}
